body {
    font-family: Sura;
}

.nav-link {
    color: #ff2600;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: black;
}

.navbar-brand {
    color: rgb(255, 38, 0);
    font-size: 2rem;
}

.navbar-brand:hover {
    color: black;
}

.exception {
    font-size: 0.7rem;
}

.far.fa-copyright.exception {
    font-size: 0.7rem;
}

.img-fluid.red {
    border: 1px solid black;
}

.fas.fa-angle-right, .fas.fa-angle-left {
    color: black;
}

.onSale {
    text-decoration-line: line-through;
    color: grey;
}

.card {
    border: none;
}

.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    float: left;
    margin-top: 100px;
}

.imgContact {
    border-radius: 100%;
    border: 5px solid black;
    float: right;
    padding: 0;
}